// GENERAL TAG STYLING FOR THE SITE

/* -------------------- GENERAL TAGS & PAGE ATTRIBUTES -------------------- */
html {
	@include settings(relative, auto);
	width: 100%;
	height: 100%;
}
body {
	color: $bodyTextColor;
	@include font($baseFontSize, $baseLineHeight, $baseFontWeight, $font);
	@include aliasing();
	@include bg($bodyBackgroundColor);
	@include flexbox();
	@include flexbox-flow(column);
	@include flexbox-justify(center);
}
::-moz-selection {
	color: $selectionColor;
	background-color: $selectionBackgroundColor;
}
::selection {
	color: $selectionColor;
	background-color: $selectionBackgroundColor;
}


/* -------------------- TAGS ASSOCIATED WITH TEXT -------------------- */
h1 {
	@include font(($baseFontSize + 32), ($baseLineHeight + 38), $headerFontWeight);
}
h2 {
	@include font(($baseFontSize + 20), ($baseLineHeight + 26), $headerFontWeight);
}
h3 {
	@include font(($baseFontSize + 8), ($baseLineHeight + 12), $headerFontWeight);
}
h4 {
	@include font(($baseFontSize + 6), ($baseLineHeight + 6), $headerFontWeight);
}
h5 {
	@include font(($baseFontSize + 2), ($baseLineHeight + 2), $headerFontWeight);
}
h6 {
	@include font($baseFontSize, $baseLineHeight, $headerFontWeight);
}
p {
	@include font($baseFontSize, $baseLineHeight);
	margin-bottom: 24px;
}
a {
	color: $linkColor;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	&:hover {
		color: $linkHoverColor;
		text-decoration: underline;
		outline: none;
		cursor: pointer;
	}
	&:active {
		@include settings(relative);
		top: 1px;
		outline: none;
		cursor: pointer;
	}
	& img {
		border: 0;
		outline: none;
		cursor: pointer;
	}
}
strong {
	font-weight: 700;
}
em {
	font-style: italic;
}


/* -------------------- TAGS ASSOCIATED WITH LISTS -------------------- */
ul {
	list-style: none;
}
ol {
	list-style: lower-alpha;
}


/* -------------------- TAGS ASSOCIATED WITH IMAGES & FIGURES -------------------- */
img {
	line-height: 0px;
}
caption {

}
figure {

}


/* -------------------- TAGS ASSOCIATED WITH TABLES -------------------- */
table {
	border-collapse: collapse;
	border-spacing: 0px;
}
thead {

}
tbody {

}
tfoot {

}


/* -------------------- TAGS ASSOCIATED WITH FORMS -------------------- */
form {

}
fieldset {

}
legend {

}
label {
	&[for] {
		cursor: pointer;
	}
}
input {
	color: $inputTextColor;
	@include font($baseFontSize, $formElementHeight, $baseFontWeight, $font);
	font-size: 100%;
	vertical-align: middle;
	*overflow: visible;
	border-radius: $inputBorderRadius;
	border: 1px solid $inputBorderColor;
	outline: none;
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&:-moz-placeholder {
		color: $inputPlaceholderColor;
	}
	&:-ms-input-placeholder {
		color: $inputPlaceholderColor;
	}
	&::-webkit-input-placeholder {
		color: $inputPlaceholderColor;
	}
	&[disabled] {
		background: $inputDisabledBackgroundColor;
		cursor: not-allowed;
	}
	&[readonly] {
		@extend input[disabled];
	}
	&[type="text"] {
		color: $inputTextColor;
		@include bg($inputBackgroundColor);
		@include settings(null, null, inline-block);
		@include size(null, $formElementHeight);
		padding: 4px 6px;
		border: 1px solid $inputBorderColor;
		border-radius: $inputBorderRadius;
		@include box-shadow(inset 0 1px 1px black(0.075));
		@include transition(border 0.2s linear, box-shadow 0.2s linear);
		&[disabled] {
			background: $inputDisabledBackgroundColor;
		}
		&:focus {
			border-color: $inputFocusBorderColor;
			outline: none;
			outline: thin dotted \9;
			/* IE6-9 */
			@include box-shadow(inset 0 1px 1px black(0.075), 0 0 6px $inputFocusGlowColor);
		}
	}
	&[type="password"] {
		@extend input[type="text"];
	}
	&[type="datetime"] {
		@extend input[type="text"];
	}
	&[type="datetime-local"] {
		@extend input[type="text"];
	}
	&[type="date"] {
		@extend input[type="text"];
	}
	&[type="month"] {
		@extend input[type="text"];
	}
	&[type="time"] {
		@extend input[type="text"];
	}
	&[type="week"] {
		@extend input[type="text"];
	}
	&[type="number"] {
		@extend input[type="text"];
	}
	&[type="email"] {
		@extend input[type="text"];
	}
	&[type="url"] {
		@extend input[type="text"];
	}
	&[type="tel"] {
		@extend input[type="text"];
	}
	&[type="color"] {
		@extend input[type="text"];
	}
	&[type="file"] {
		@extend input[type="text"];
		@include font($baseFontSize, $formElementHeight, $baseFontWeight, $font);
		line-height: $formElementHeight + 10px;
		height: $formElementHeight + 10px; // In IE7, the height of the select element cannot be changed by height, only font-size
		*margin-top: 4px; // For IE7, add top margin to align select with labels
		width: auto;
		&:focus {
			outline: thin dotted $inputFocusBorderColor;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}
	&[type="image"] {
		width: auto;
	}
	&[type="button"] {
		color: $buttonTextColor;
		background-color: $buttonBackgroundColor;
		width: auto;
		border-radius: $buttonBorderRadius;
		border: 1px solid $buttonBorderColor;
		cursor: pointer;
		-webkit-appearance: button;
		@include transition(all 200ms ease);
		&:hover {
			background-color: $buttonHoverBackgroundColor;
			border-color: $buttonHoverBorderColor;
		}
		&:active {
			background-color: $buttonActiveBackgroundColor;
			border-color: $buttonActiveBorderColor;
			@include transition(none);
		}
	}
	&[type="reset"] {
		@extend input[type="button"];
	}
	&[type="submit"] {
		@extend input[type="button"];
	}
	&[type="radio"] {
		margin: 0 2px 0 0;
		line-height: normal;
		width: auto;
		cursor: pointer;
		&[disabled] {
			background-color: transparent;
			cursor: not-allowed;
		}
		&[readonly] {
			@extend input[type="radio"][disabled];
		}
		&:focus {
			outline: thin dotted $inputFocusBorderColor;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}
	&[type="checkbox"] {
		margin: 0 2px 0 0;
		line-height: normal;
		width: auto;
		cursor: pointer;
		&[disabled] {
			background-color: transparent;
			cursor: not-allowed;
		}
		&[readonly] {
			@extend input[type="checkbox"][disabled];
		}
		&:focus {
			outline: thin dotted $inputFocusBorderColor;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}
	&[type="search"] {
		@extend input[type="text"];
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
		-webkit-appearance: textfield;
		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}
		&::-webkit-search-cancel-button {
			-webkit-appearance: none;
		}
	}
	&:focus {
		&:invalid {
			color: $inputInvalidTextColor;
			border-color: $inputInvalidBorderColor;
			&:focus {
				border-color: $inputInvalidFocusBorderColor;
				@include box-shadow(0 0 6px $inputInvalidFocusGlowColor);
			}
		}
	}
}
button {
	color: $buttonTextColor;
	@include font($baseFontSize, $formElementHeight, $baseFontWeight, $font);
	font-size: 100%;
	vertical-align: middle;
	background-color: $buttonBackgroundColor;
	*overflow: visible;
	border-radius: $buttonBorderRadius;
	border: 1px solid $buttonBorderColor;
	outline: none;
	cursor: pointer;
	-webkit-appearance: button;
	@include transition(all 200ms ease);
	&::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
	&:hover {
		background-color: $buttonHoverBackgroundColor;
		border-color: $buttonHoverBorderColor;
	}
	&:active {
		background-color: $buttonActiveBackgroundColor;
		border-color: $buttonActiveBorderColor;
		@include transition(none);
	}
}
select {
	color: $selectTextColor;
	@include font($baseFontSize, $formElementHeight, $baseFontWeight, $font);
	font-size: 100%;
	vertical-align: middle;
	@include bg($selectBackgroundColor);
	@include size(null, $formElementHeight); // In IE7, the height of the select element cannot be changed by height, only font-size
	*margin-top: 4px; // For IE7, add top margin to align select with labels
	border: 1px solid $selectBorderColor;
	border-radius: $selectBorderRadius;
	outline: none;
	cursor: pointer;
	&[multiple] {
		height: auto;
	}
	&[size] {
		@extend select[multiple];
	}
	&[disabled] {
		background: $selectDisabledBackgroundColor;
		cursor: not-allowed;
	}
	&[readonly] {
		@extend select[disabled];
	}
	&:focus {
		outline: thin dotted $selectFocusGlowColor;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
		&:invalid {
			color: $selectInvalidTextColor;
			border-color: $selectInvalidBorderColor;
			&:focus {
				border-color: $selectInvalidFocusBorderColor;
				@include box-shadow(0 0 6px $selectInvalidFocusGlowColor);
			}
		}
	}
}
option {
	outline: none;
}
textarea {
	color: $textareaTextColor;
	@include font($baseFontSize, $formElementHeight, $baseFontWeight, $font);
	font-size: 100%;
	vertical-align: top;
	@include bg($textareaBackgroundColor);
	@include settings(null, auto);
	height: auto;
	border: 1px solid $textareaBorderColor;
	border-radius: $textareaBorderRadius;
	outline: none;
	@include box-shadow(inset 0 1px 1px black(0.075));
	@include transition(border 0.2s linear, box-shadow 0.2s linear);
	&:-moz-placeholder {
		color: $textareaPlaceholderColor;
	}
	&:-ms-input-placeholder {
		color: $textareaPlaceholderColor;
	}
	&::-webkit-input-placeholder {
		color: $textareaPlaceholderColor;
	}
	&[disabled] {
		background: $textareaDisabledBackgroundColor;
		cursor: not-allowed;
	}
	&[readonly] {
		@extend textarea[disabled];
	}
	&:focus {
		border-color: $textareaFocusBorderColor;
		outline: 0;
		outline: thin dotted \9;
		/* IE6-9 */
		@include box-shadow(inset 0 1px 1px black(0.075), 0 0 8px $textareaFocusGlowColor);
		&:invalid {
			color: $textareaInvalidTextColor;
			border-color: $textareaInvalidBorderColor;
			&:focus {
				border-color: $textareaInvalidFocusBorderColor;
				@include box-shadow(0 0 6px $textareaInvalidFocusGlowColor);
			}
		}
	}
}